---
permalink: 404.html
eleventyExcludeFromCollections: true
---

<div class="px-4 py-12 text-center bg-white sm:py-16">
    <h1 class="mb-4 text-3xl font-bold uppercase sm:text-4xl text-slate-800">Page not found</h1>
    <div class="max-w-2xl mx-auto prose text-center prose-slate">
        <p>The page you requested could not be found. Please verify the URL, or return to our <a href="index.njk">homepage</a>.</p>
    </div>
</div>

